:root {
  --color-white: #ffffff;
  --color-gray-50: #f8f9fa;
  --color-gray-100: #ebe7e7;
  --color-gray-200: #c0c0c0;
  --color-gray-300: #b8b8b8;
  --color-gray-400: #a9a9a9;
  --color-gray-500: #707070;
}

/* Navigation Bar */

nav {
  display: flex;
  justify-content: flex-end;
}

body, 
a, 
p {
  color: #202124;
  text-decoration: none;
  font-size: small;
  font-family: arial,sans-serif;
}

a:hover {
  text-decoration: underline;
}

ul li{
  float: left;
  list-style-type: none;
  padding: 5px;
}

.nav-container {
  width: auto;
}

.right-container {
  float: right;
}

#account-logo {
  border-radius: 25px;
}

/*MAIN SECTION*/
main {
  text-align: center;
  margin: 70px;
}

.google-logo-container {
  width: auto;
}

.google-logo-container img {
  height: 90px;
  width: auto;
}

/* MAIN PAGE */
main {
  width: auto;
  margin: 50px;
}

/* Search bar */

.material-icons {
  width: 20px;
}

#search-bar {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  height: 44px;
  width: auto;
  max-width: 584px;
  margin: 30px auto; 
  display: flex;
}

#search-bar:hover {
  box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

#search-bar input[type="text"] {
  border-width: 0px;
  border: none;
  width: 38em;
}

#search__items {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.search__item {
  flex-grow: 1;
}

#input-search {
  align-self: center;
  margin-left: 5px;
}

.button__form {
  margin: 10px;
}

.button__style {
  padding: 0 16px;
  margin: 0px 5px;
  height: 30px;
  width: auto;
  border-radius: 5px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
}

.button__form button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: var(--color-gray-50);
  border: 1px solid #c6c6c6;
  color: #222;
}


.material-icons {
  color: gray;
}


/* Google languages style*/
section {
  display: inline-block;
}